<div id="newProductModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content -->
        <form ng-submit="addProduct()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h1 class="modal-title">Add Product</h1>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="product-name">Product Name:</label>
                        <input type="text"
                               class="form-control"
                               ng-model="newProduct.name"
                               placeholder="Product name..." />
                    </div>
                    <div class="form-group">
                        <label for="product-price">Product Price:</label>
                        <span>
                            SEK <input type="number"
                                       class="form-control price"
                                       ng-model="newProduct.price"
                                       placeholder="Product price..." min="0" max="9999"/>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="product-description">Product Description:</label>
                        <textarea type="text"
                                  class="form-control"
                                  ng-model="newProduct.description"
                                  placeholder="Product description..."></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">
                        Add product
                    </button>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>-->
                </div>
            </div>
        </form>
    </div>
</div>